<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pybot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="chat-container">
        <h1 class="heading">Meet Pybot: Your Friend <img src="/static/bot.svg" alt=""></h1>
        <div id="chat-messages"></div>
        <div class="input-container">
            <input type="text" id="user-input" placeholder="Type your message here...">
            <button id="send-button">Send</button>
        </div>
    </div>
    

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('send-button').addEventListener('click', sendMessage);
            document.getElementById('user-input').addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    sendMessage();
                }
            });
        });

        function sendMessage() {
            var userMessage = document.getElementById('user-input').value;
            document.getElementById('user-input').value = '';
            var chatContainer = document.getElementById('chat-messages');
            chatContainer.innerHTML += '<div class="message user-message">' + userMessage + '</div>';

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/get_response', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var botResponse = xhr.responseText;
                    chatContainer.innerHTML += '<div class="message bot-message">' + botResponse + '</div>';
                }
            };
            xhr.send('user_message=' + userMessage);
        }
    </script>
</body>
</html>